/* .d2l-max-width {
    max-width: 100%!important;
}
.d2l-course-banner-container {
    max-width: 100%!important;
    margin: 0!important;
}
.homepage-col-4 {
    display: none!important;
}
.homepage-col-8 {
    width: 100%!important;
}
d2l-enrollment-card {
    width: 25%!important;
}
.d2l-card-header {
    display: none!important;
} */